@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom_bottom{
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.38px;
    color: #333333;
}