@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
.middle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.one{
    width: 920px;
    height: 613px;
    background: url(../img/pic1.png);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p:first-child{
        color: white;

        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 1px;
    }
    p:last-child{
        color: white;

        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 1px;
        text-align: center;
        letter-spacing: 0.206928px;
    }
}

.two{
    width: 920px;
    height: 528px;
    background: url(../img/pic2.png);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p:first-child{
        color: white;

        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 1px;
    }
    p:last-child{
        color: white;

        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 1px;
        text-align: center;
        letter-spacing: 0.206928px;
    }
}

.three{
    width: 442px;
    height: 442px;
    background: url(../img/pic3.png);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p:first-child{
        color: white;

        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 28px;
        text-align: center;
    }
    p:last-child{
        color: white;

        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.13px;
    }
}

.four{
    width: 442px;
    height: 442px;
    background: url(../img/pic4.png);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p:first-child{
        color: white;

        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 28px;
        text-align: center;
    }
    p:last-child{
        color: white;

        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.13px;
    }
}

.five{
    width: 285px;
    height: 285px;
    background: url(../img/pic5.png);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p:first-child{
        color: white;

        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
    }
    p:last-child{
        color: white;

        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.13px;
    }
}

.six{
    width: 285px;
    height: 285px;
    background: url(../img/pic6.png);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p:first-child{
        color: white;

        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
    }
    p:last-child{
        color: white;

        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.13px;
    }
}
.seven{
    width: 285px;
    height: 285px;
    background: url(../img/pic7.png);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p:first-child{
        color: white;

        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
    }
    p:last-child{
        color: white;

        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.13px;
    }
}